* {
  font-family: 'Roboto';
  letter-spacing: .25px;
}

body {
  overflow-y: auto;
}

.arrow {
  width: 6px;
  height: 6px;
  border-top: 1px solid #3c4043;
  border-right: 1px solid #3c4043;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-left: 8px;
}

button {
  color: #423f3f;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  height: auto;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 350ms ease;
  transition: color 350ms ease;
}

.m-auto {
  margin: auto;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

header {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;
  height: 56px;
  width: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

header .header-left .hum-menu {
  display: none;
}

header .header-left .hum-menu button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  margin: 12px 12px 12px 12px;
}

header .header-left .hum-menu button img {
  vertical-align: baseline;
  width: 18px;
  height: 12px;
}

header .header-left .hum-menu button .active {
  display: none;
}

header .header-left .hum-menu button .inactive {
  display: block;
}

header .header-left .hum-menu[data-state="inactive"] .window-fixed {
  display: none;
}

header .header-left .hum-menu[data-state="active"] .active {
  display: block;
}

header .header-left .hum-menu[data-state="active"] .inactive {
  display: none;
}

header .header-left .hum-menu[data-state="active"] .window-fixed {
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
}

header .header-left .hum-menu[data-state="active"] .window-fixed .window {
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
}

header .header-left .hum-menu[data-state="active"] .window-fixed .window .window-upper {
  max-width: 560px;
  width: 100%;
  margin: auto;
  padding: 64px 16px 19px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

header .header-left .hum-menu[data-state="active"] .window-fixed .window .window-upper .item-wrap {
  width: 47%;
  margin-bottom: 40px;
}

header .header-left .hum-menu[data-state="active"] .window-fixed .window .window-upper .item-wrap .item {
  width: 100%;
  height: 0;
  padding-top: 53.9877300613%;
  display: block;
  margin-bottom: 17px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

header .header-left .hum-menu[data-state="active"] .window-fixed .window .window-upper .item-wrap .display-item-1 {
  background-image: url(https://lh3.googleusercontent.com/N5etsx8XkAtfCUISaqleki2gPWKLTaDWrIKz95Sc3O5pz4omKix2Zj7xSlNnbeu05IGrRIMVhtG6sb0-ZdY1ZdNDB3P5Vn0922I);
}

header .header-left .hum-menu[data-state="active"] .window-fixed .window .window-upper .item-wrap .display-item-2 {
  background-image: url(https://lh3.googleusercontent.com/BcDTQHthdK8HwHOnupekcFmi3HGBAaUVtDk9w11Kk-ZIMjTH29YI6moioQWA5AgSXir7sJUdlNZxjepwzobLFvrgJgDUWsJfmAY);
}

header .header-left .hum-menu[data-state="active"] .window-fixed .window .window-upper .item-wrap .display-item-3 {
  background-image: url(https://lh3.googleusercontent.com/6amtEdVwNKZf5a0KNBK8OD3gniotW7Y-BElba9-AZrAwoCqbmPmnjXMwrBWk_dW_QmhtSCLiI1Q0w8AB1vHwXB36WOLv8q2eAiFs);
}

header .header-left .hum-menu[data-state="active"] .window-fixed .window .window-upper .item-wrap .display-item-4 {
  background-image: url(https://lh3.googleusercontent.com/G2zsxf4n8mkzpn7wL1wqZYXzNnCNuoPrAoY6VB5NNMnQyl-N4WXUu74b-JU1bDQRaAI2D_-QwIBuZMjk5IML_g);
}

header .header-left .hum-menu[data-state="active"] .window-fixed .window .window-upper .item-wrap span {
  display: block;
  color: #3c4043;
  width: 44.2857142857%;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  margin: auto;
}

header .header-left .hum-menu[data-state="active"] .window-fixed .window .window-lower {
  width: 100%;
  padding: 100px 16px;
  background-color: #f8f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-left .hum-menu[data-state="active"] .window-fixed .window .window-lower a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-left .hum-menu[data-state="active"] .window-fixed .window .window-lower a .icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

header .header-left .hum-menu[data-state="active"] .window-fixed .window .window-lower a span {
  font-size: 22px;
  line-height: 22px;
  font-weight: 500;
}

header .header-left .item.logo .res-main {
  vertical-align: middle;
  width: 134px;
  height: 24px;
}

header .header-left .item.logo .res-600 {
  display: none;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

header .header-left .item button {
  color: #423f3f;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  height: auto;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 350ms ease;
  transition: color 350ms ease;
}

header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
          column-gap: 4px;
}

header .header-right .item {
  padding: 12px;
}

header .header-right .item img {
  width: 20px;
  height: 20dpx;
}

header .header-right .item.res-1014 {
  display: block;
}

main {
  margin-top: 56px;
}

main .tx-wrap.grid-col2_4 {
  padding: 80px 0;
  height: auto;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 4;
      grid-column-end: span 4;
}

main .tx-wrap .title {
  color: #3c4043;
  font-family: "Google Sans Display","Roboto","Arial",sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 68px;
  letter-spacing: -2px;
}

main .tx-wrap .tx {
  color: #3c4043;
  max-width: 524px;
  font-size: 16px;
  line-height: 24px;
}

main .tx-wrap .btn {
  height: 40px;
  width: 120px;
  padding: 6px 16px;
  border: 2px solid #3c4043;
  border-radius: 4px;
}

main .tx-wrap .btn a {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}

main .mv-banner {
  display: block;
  text-align: center;
  overflow: hidden;
  height: 600px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  max-width: 1392px;
  width: 100%;
}

main .mv-banner video {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

main .mv-banner .mv-grid-wrap {
  position: absolute;
  top: 0;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 6;
      grid-column-end: span 6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

footer {
  padding: 0 24px;
}

footer .link-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  width: 100%;
  padding: 96px 72px;
}

footer .link-lists .links {
  width: 164px;
}

footer .link-lists ul .links-li {
  margin-top: 24px;
}

footer .link-lists ul .links-li:first-child {
  margin-top: 0;
}

footer .link-lists ul .links-li span {
  color: #423f3f;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

footer .link-bar-wrap {
  height: 52px;
  padding: 0 72px;
}

footer .link-bar-wrap .link-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0;
  border-top: 1px solid #f2f2f2;
}

footer .link-bar-wrap .link-bar .link-bar-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .link-bar-wrap .link-bar .link-bar-left ul .sns-icon {
  margin-left: 16px;
}

footer .link-bar-wrap .link-bar .link-bar-left ul .sns-icon:first-child {
  margin-left: 0;
}

footer .link-bar-wrap .link-bar .link-bar-left ul .sns-icon a {
  display: block;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

footer .link-bar-wrap .link-bar .link-bar-left ul .sns-icon a img {
  width: 20px;
  height: 20px;
}

footer .link-bar-wrap .link-bar .link-bar-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .link-bar-wrap .link-bar .link-bar-right ul .link {
  margin-left: 40px;
}

footer .link-bar-wrap .link-bar .link-bar-right ul .link:first-child {
  margin-left: 0;
}

footer .link-bar-wrap .link-bar .link-bar-right ul .link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .link-bar-wrap .link-bar .link-bar-right ul .link a .flag {
  background-image: url(https://ssl.gstatic.com/store/images/regionflags/japan.png);
  background-size: 100% 100%;
  height: 18px;
  width: 24px;
  margin-right: 12px;
}

footer .link-bar-wrap .link-bar .link-bar-right ul .link a span {
  color: #423f3f;
  font-size: 11px;
  font-family: "Google Sans",arial,sans-serif;
  font-weight: 400;
  line-height: 16px;
}

@media screen and (max-width: 1024px) {
  header .header-left .item:not(.logo) {
    display: none;
  }
  header .header-left .hum-menu {
    display: block;
  }
}

@media screen and (max-width: 1014px) {
  header .header-right .item.res-1014 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  header .header-left .item.logo .res-600 {
    display: block;
  }
  header .header-left .item.logo .res-main {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */